<!DOCTYPE html>
  <html lang="en">
  <head>
    <%- include hearder.ejs %>
  </head>
  <body class="container">
    <header>
      <%- include menu.ejs %>
    </header>
    <main>
      Instagram photos will go here
    </main>
    <footer>
      <%- include footer.ejs %>
    </footer>
  </body>
</html>